.excalidraw {
  .ExcalidrawLogo {
    --logo-mark--mobile: 1.75rem;
    --logo-combined--mobile: 3.25rem;

    --logo-mark--xs: 2.25rem;
    --logo-combined--xs: 4rem;

    --logo-mark--small: 2.75rem;
    --logo-combined--small: 4.75rem;

    --logo-mark--normal: 3.25rem;
    --logo-combined--normal: 5.5rem;

    --logo-mark--large: 4.25rem;
    --logo-combined--large: 7.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      display: block;
      user-select: none;
    }

    .ExcalidrawLogo-mark {
      height: var(--logo-mark--small);
      width: auto;
    }

    .ExcalidrawLogo-combined {
      height: var(--logo-combined--small);
      width: auto;
    }

    &.is-mobile {
      .ExcalidrawLogo-mark {
        height: var(--logo-mark--mobile);
      }

      .ExcalidrawLogo-combined {
        height: var(--logo-combined--mobile);
      }
    }

    &.is-xs {
      .ExcalidrawLogo-mark {
        height: var(--logo-mark--xs);
      }

      .ExcalidrawLogo-combined {
        height: var(--logo-combined--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-mark {
        height: var(--logo-mark--small);
      }

      .ExcalidrawLogo-combined {
        height: var(--logo-combined--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-mark {
        height: var(--logo-mark--normal);
      }

      .ExcalidrawLogo-combined {
        height: var(--logo-combined--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-mark {
        height: var(--logo-mark--large);
      }

      .ExcalidrawLogo-combined {
        height: var(--logo-combined--large);
      }
    }
  }
}
